@import "tailwindcss";

body{
  font-family: 'Inter', sans-serif;
  color: black;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #1f1f1f inset !important;
  -webkit-text-fill-color: white !important;
}
.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(225, 225, 225, 0.3);
  border-top: 4px solid #f6b100;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
